body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    line-height: 1.8em;
}

.container{
    width: 80%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    display: table;
    clear: both;
}


#lightbox{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#lightbox:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

#lightbox-content{
    position: relative;
    margin-top: 90px;
    background: white;
    border-radius: 3px;
    z-index: 2;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#lightbox-close{
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
    margin: 20px;
}

#lightbox-close svg{
    fill: #eee;
    width: 70px;
    height: 70px;
}

#lightbox-header {
    /* height:  */
}

#lightbox-header .title{
    font-size: 18px;
}

#lightbox-body{
    margin-top: 18px;
}

.row{
    position: relative;
}

#recent-activity{

}

#featured-members{
    /* width: 340px; */
}

#menu-icon{
    position: fixed;
    top:0;
    left: 0;
    padding: 8px;
    z-index: 250;
}

#menu-icon svg{
    width: 48px;
    height: 48px;
}

#content{
    display: flex;
}

#app-content{
    flex: 1;
}

#sidebar{
    height: 100vh;
    width: 280px;
    background: #3F51B5;
    color: white;
    padding-top: 60px;
    transition: all 200ms ease-in-out;
}

.sidebar-collapsed #sidebar{
    flex: 0;
    width: 0;
}

.st0{
    fill: #fff;
    stroke:#fff; 
    stroke-width:6;
    stroke-miterlimit:10
}

button#cancel, button#submit{
    padding: 6px 0;
    border-radius: 5px;
    border: 1px solid #eee;
    font: inherit;
    width: 90px;
    background: white;
    cursor: pointer;
    outline: none;
}

button#submit:hover{
    opacity: .7;
}

button#cancel:hover{
    background: #efefef;
}

button#submit{
    margin-left: 12px;
    background: #059c80;
    color: white;
}
