body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    line-height: 1.8em;
}

.no-content:before, .no-content:after{
    content: none !important
}

.flex{
    display: flex;
}

.container{
    width: 80%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    display: table;
    clear: both;
}


#lightbox{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#lightbox:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

#lightbox-content{
    position: relative;
    margin-top: 90px;
    background: white;
    border-radius: 3px;
    z-index: 2;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#lightbox-close{
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
    margin: 20px;
}

#lightbox-close svg{
    fill: #eee;
    width: 70px;
    height: 70px;
}

#lightbox-header {
    /* height:  */
}

#lightbox-header .title{
    font-size: 18px;
}

#lightbox-body{
    margin-top: 18px;
}

.row{
    position: relative;
}

#recent-activity{

}

#featured-members{
    /* width: 340px; */
}

#menu-icon{
    position: fixed;
    top:0;
    left: 0;
    padding: 8px;
    z-index: 250;
}

#menu-icon svg{
    width: 48px;
    height: 48px;
}

#content{
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#app-content{
    flex: 1;
}

#sidebar{
    height: 100vh;
    min-height: 500px;
    width: 240px;
    background: #3F51B5;
    color: white;
    padding-top: 60px;
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
}

#sidebar .fa{
    margin-right: 12px;
}

#sidebar-content{
    width: 240px;
}

.navlink-title{
    display: block;
    padding: 10px 22px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
}

.navlink{
    display: block;
    padding: 6px 22px;
    color: white;
    text-decoration: none;
}

.navlink:hover{
    background: rgba(0, 0, 0, .1)
}

.sidebar-collapsed #sidebar{
    width: 0;
}

.st0{
    fill: #ccc;
    stroke:#ccc; 
    stroke-width:6;
    stroke-miterlimit:10
}

button#cancel, button#submit{
    padding: 6px 0;
    border-radius: 5px;
    border: 1px solid #eee;
    font: inherit;
    width: 90px;
    background: white;
    cursor: pointer;
    outline: none;
}

button#submit:hover{
    opacity: .7;
}

button#cancel:hover{
    background: #efefef;
}

button#submit{
    margin-left: 12px;
    background: #059c80;
    color: white;
}

#page-content{
    color: #555;
    display: flex;
    padding-top: 30px;
}

#main-page-content{
    width: 70%;
    padding-right: 20px;
}

#side-content{
    padding-left: 20px;
}

#page-header{
    
}

#page-title{
    font-size: 24px;
    font-weight: normal;
}

#activities-table{
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}

#activities-table thead{
    border-bottom: 1px solid #eee;
}

#activities-table th{
    text-align: left;
    font-weight: normal;
}

#activities-table td{
    padding: 12px 0;
    vertical-align: top;
}

#activities-table th + th,
#activities-table td + td{
    padding-right: 30px;
}

#activities-table tbody td{
    border-bottom: 1px solid #eee;
    font-size: 13px;    
}
#activities-table tbody tr:last-child td{
    border-bottom: 0;
}

#activities-table .action{
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    background: #2196F3;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    color: white;
    transition: all .2s;
}

#activities-table .action.approved{
    background: #009688;
}

#activities-table .action.pending{
    background: #9E9E9E;
}

#activities-table .action:hover{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .6);
    
}

#activities-table .activity-type{
    display: block;
    font-size: 14px;
}

#activities-table .comment{
    margin: 0;
    font-size: .9em;
    line-height: 1.6em;
}

#activities-table .actions{
    text-align: right;
    padding-right: 0;
}

.action-text{
    display: block;
    font-size: 12px;
    margin-top: -9px;
}

.center-text{
    text-align: center !important;
}
